{% extends "base.html" %}
{% load static %}
{% block project_content %}

<section class="page-banner">
    {% if project.banner_image %}
            <img class="page-banner-img" src="{{ project.banner_image.url }}">
    {% endif %}
    <div class="page-title">
        <h1>{{ project.title }}</h1>
        <p>{{ project.address }}</p>
    </div>
</section>

{% if project.description %}
    <section class="project-description">
        <div class="section-content-container">
            <h2 class="section-title">Lagebeschreibung</h2>
            <p>{{ project.description }}</p>
            {% if project.expose %}
                <a class="expose" href="{{ project.expose.url }}" download>
                    <h3>Exposé</h3>
                    <i class="fa fa-download" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
    </section>
{% endif %}

{% if media_files %}
    <section class="project-gallery">
        <div class="section-content-container">
            <h2 class="section-title">Fotografien der Einrichtung</h2>
            <div class="gallery">
                {% for media in media_files %}
                    <img class="media-file" src="{{ media.file.url }}">
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

{% if project.details %}
    <section class="project-details">
        <div class="section-content-container">
            <h2 class="section-title">Details zur Immobile</h2>
            {% if videos %}
                {% for video in videos %}
                    <video autoplay controls muted>
                        <source src="{{ video.video.url }}" />
                    </video>
                {% endfor %}
            {% endif %}
            <p>{{ project.details }}</p>
            {% if plans %}
            <div class="gallery-plan">
                {% for plan in plans %}
                    <img class="media-file plan-file" src="{{ plan.file.url }}"
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
{% endif %}

{% if project.equipment %}
    <section class="project-equipment">
        <div class="section-content-container">
            <h2 class="section-title">Ausstattung</h2>
            <ul>
                {% for eq in equipment %}
                <li><p>{{ eq }}</p></li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endif %}

<section class="project-map">
    <div class="section-content-container">
        <h2 class="section-title">Objekt auf der Karte</h2>
        <div class="map-container">
        {% include "../components/map.html" with api_key=google_api_key latitude=latitude longitude=longitude %}
        </div>
    </div>
</section>
{% include "../components/lightbox.html" %}
<script src="{% static 'js/lightbox.js' %}" defer></script>
{% endblock project_content %}
