{% extends "base.html" %}
{% load static %}

{% block projects %}
    <section class="page-banner">
        <img class="page-banner-img" src="{% static "images/paper-plans.jpg" %}">
        <div class="page-title">
            <h1>Unsere Projekte</h1>
        </div>
    </section>
    
    <section class="page-content">
        <div class="card-container">
            {% for project in projects %}
                <a class="card" href="{% url 'project_detail' project.pk %}">
                    <div class="card-img">
                        {% if project.banner_image %}
                            <img src="{{ project.banner_image.url }}" alt="{{ project.title }}">            
                        {% else %}
                            <img src="{% static "images/plug_picture.png" %}" alt="{{ project.title }}">            
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <h2>{{ project.title }}</h2>
                        <p><strong>Adresse:</strong> {{ project.address }}</p>
                        <p><strong>Wohnfläsche:</strong> {{ project.square }} m²</p>
                        <p><strong>Grundstücksfläsche:</strong> {{ project.land_area }} m²</p>
                        <p><strong>Zimmer:</strong> {{ project.rooms }}</p>
                        <p><strong>Preis:</strong> {{ project.price }} €</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock projects %}
