{% extends "base.html" %}

{% block project_content %}

<section class="project-banner">
    {% if project.banner_image %}
            <img class="banner-img" src="{{ project.banner_image.url }}">
    {% endif %}
    <div class="project-page-title">
        <h1>{{ project.title }}</h1>
        <p>{{ project.address }}</p>
    </div>
</section>

<section class="project-description">
    <div class="project-content">
        <h2 class="section-title">Lagebeschreibung</h2>
        <p>{{ project.description }}</p>
    </div>
</section>

{% if media_files %}
<section class="project-gallery">
    <div class="project-content">
        <h2 class="section-title">Fotografien der Einrichtung</h2>
        <div class="gallery">
            {% for media in media_files %}
                <img class="media-file" src="{{ media.file.url }}">
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% if project.details %}
<section class="project-details">
    <div class="project-content">
        <h2 class="section-title">Details zur Immobile</h2>
        <p>{{ project.details }}</p>
        {% if plans %}
        <div class="gallery-plan">
            {% for plan in plans %}
                <img class="plan-file" src="{{ plan.file.url }}"
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
{% endif %}

{% if equipment %}
<section class="project-equipment">
    <div class="project-content">
        <h2 class="section-title">Ausstattung</h2>
        <ul>
            {% for eq in equipment %}
            <li>{{ eq }}</li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}

<section class="project-map">
    <div class="project-content">
        <h2 class="section-title">Objekt auf der Karte</h2>
    </div>
</section>
{% include "../lightbox.html" %}
{% endblock project_content %}
