.project-content {
    width: var(--section-max-width);
    margin: var(--spacing-lg) auto;
}

.project-content p,
.project-content li {
    font-size: var(--font-size-text);
}

.section-title {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}

.project-gallery {
    padding-top: 10px;
    background-color: var(--banner-color);
}

.gallery {
    display: grid;
    padding-bottom: var(--spacing-lg);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacing-gap);
}

.gallery img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    cursor: pointer;
}

.gallery-plan {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 40px auto;
    text-align: center;
}

.plan-file {
    max-width: 300px;
    height: auto;
    cursor: pointer;
}

.project-equipment {
    padding: 10px 0 10px;
    background-color: var(--banner-color);
}

#map {
    height: 400px;
    width: 100%;
}
