{% extends "base.html" %}

{% block post_content %}
<section class="post-banner">
    {% if post.image %}
    <img class="banner-img" src="{{ post.image.url }}" style="width: 300px; height: 300px">
    {% endif %}
    <div class="post-page-title">
        <h1>{{ post.title }}</h1>
    </div>
</section>
<section class="post_content">
    <div>
        <p>{{ post.body }}</<p>>
        <p>{{ post.author }}</p>
        <p>{{ post.publish_date }}</p>
    </div>
</section>
{% endblock post_content %}
