{% extends "base.html" %}

{% block datenschutz %}
<section class="datenschutz">
    <div class="section-content-container">
        <h2>Datenschutzerklärung</h2>

        <h3>ErsteHaus GmbH</h3>
        
        <h3>1. Verantwortlicher</h3>

        <p>Baraschstrasse 17, 14193 Berlin</p>
        <p><strong>Telefon:</strong> (+49) 17622286414</p>
        <p><strong>E-mail:</strong> info@erstehaus.de</p>
        <p><strong>Internet:</strong> <a href="erstehaus.de">www.erstehaus.de</a></p>
        <p><strong>Eingetragen im Handelsregister:</strong> Amtsgericht Charlottenburg (Berlin), HRB 189223 B</p>
        <p><strong>Geschäftsführer:</strong> Alexander Adamov</p>

        <h3>2. Erhebung und Speicherung personenbezogener Daten</h3>

        <p>Beim Besuch unserer Website www.erstehaus.de erheben wir automatisch folgende Daten:</p>
        <ul>
            <li>IP-Adresse</li>
            <li>Datum und Uhrzeit des Zugriffs</li>
            <li>Browsertyp und -version</li>
            <li>verwendetes Betriebssystem</li>
            <li>Referrer-URL (die zuvor besuchte Seite)</li>
        </ul>
        <p>Diese Daten dienen ausschließlich der technischen Sicherheit und Stabilität und werden nicht mit anderen Datenquellen zusammengeführt.</p>

        <h3>3. Kontaktformular</h3>

        <p>Wenn Sie unser Kontaktformular nutzen, werden folgende Daten erfasst:<p/>
        <ul>
            <li>Vorname</li>
            <li>Nachname</li>
            <li>Telefonnummer</li>
        </ul>
        <p>Die Datenübermittlung per E-Mail erfolgt mit Transportverschlüsselung (TLS). 
        Dennoch kann eine vollständige Sicherheit der Datenübertragung im Internet nicht gewährleistet werden.</p>
        <p>Diese Daten werden ausschließlich zur Bearbeitung Ihrer Anfrage verwendet 
        und nicht an Dritte weitergegeben. Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. b DSGVO (Vertragsanbahnung).</p>

        <h3>4. Cookies</h3>

        <p>Unsere Website verwendet Cookies. Dabei handelt es sich um kleine Textdateien, 
        die auf Ihrem Endgerät gespeichert werden. Cookies dienen dazu, unser Angebot 
        nutzerfreundlicher, effektiver und sicherer zu machen. Sie können die Speicherung 
        der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern.</p>

        <h3>5. Google Analytics</h3>

        <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google 
        Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland. Google Analytics 
        verwendet Cookies, die eine Analyse der Benutzung der Website ermöglichen.
        
        <p>Rechtsgrundlage ist Ihre Einwilligung gemäß Art. 6 Abs. 1 lit. a DSGVO.</p>
        
        <p>Die durch Cookies erzeugten Informationen über Ihre Benutzung dieser Website 
        werden in der Regel an einen Server von Google in den USA übertragen und dort 
        gespeichert. Wir verwenden Google Analytics mit IP-Anonymisierung, sodass Ihre 
        IP-Adresse innerhalb der EU gekürzt wird.</p>

        <p>Sie können Ihre Einwilligung jederzeit widerrufen [z. B. durch ein Cookie-Consent-Tool].</p>

        <h3>6. Hosting</h3>

        <p>Unsere Website wird bei Hetzner Online GmbH gehostet, einem Anbieter mit 
        Serverstandort in Deutschland. Mit Hetzner besteht ein Vertrag zur 
        Auftragsverarbeitung gemäß Art. 28 DSGVO.</p>

        <h3>7. Datenweitergabe</h3>

        <p>Eine Übermittlung Ihrer personenbezogenen Daten an Dritte findet nicht statt, 
        außer wenn dies gesetzlich vorgeschrieben ist.</p>

        <h3>8. Dauer der Datenspeicherung</h3>

        <p>Wir speichern personenbezogene Daten nur so lange, wie es für den jeweiligen 
        Zweck erforderlich ist oder gesetzliche Aufbewahrungsfristen bestehen.</p>

        <h3>9. Ihre Rechte</h3>

        <p>Sie haben jederzeit das Recht:</p>
        <ul>
            <li>Auskunft über Ihre gespeicherten Daten zu erhalten (Art. 15 DSGVO)</li>
            <li>Berichtigung unrichtiger Daten zu verlangen (Art. 16 DSGVO)</li>
            <li>Löschung Ihrer Daten zu verlangen (Art. 17 DSGVO)</li>
            <li>Einschränkung der Verarbeitung zu verlangen (Art. 18 DSGVO)</li>
            <li>Datenübertragbarkeit (Art. 20 DSGVO)</li>
            <li>Widerspruch gegen die Verarbeitung (Art. 21 DSGVO)</li>
        </ul>
        <p>Bei datenschutzrechtlichen Anliegen können Sie sich jederzeit an uns 
        oder an die zuständige Aufsichtsbehörde wenden: Berliner Beauftragte für 
        Datenschutz und Informationsfreiheit, Friedrichstr. 219, 10969 Berlin</p>

        <h3>10. Änderung dieser Datenschutzerklärung</h3>

        <p>Wir behalten uns vor, diese Datenschutzerklärung bei Bedarf anzupassen, 
        um sie aktuellen rechtlichen Anforderungen anzupassen oder Änderungen 
        unserer Leistungen umzusetzen.</p>

    </div>
</section>
{% endblock datenschutz %}
