{% extends "base.html" %}

{% block homepage %}
<section class="page-banner">
    <img class="page-banner-img" src="{{ project.banner_image.url }}">
    <div class="page-title">
        <p>Willkommen bei</p> 
        <h1>Erste Haus GmbH</h1>
        <p>Ihr Partner für moderne und energieeffiziente Lösungen im Wohnbereich</p>
    </div>
</section>

<section class="page-content">
    <section class="about">
        <div class="carousel">

        </div>
        <div class="about-content">
            <h2>Erste Haus GmbH</h2>
            <p>
                Wir freuen uns, Ihnen unser dynamisches Bauunternehmen vorzustellen. 
                Als ErsteHaus GmbH haben wir uns auf den Bausektor spezialisiert 
                und sind seit 2017 in der Entwicklung und Vermarktung von energieeffizienten 
                Doppelhaushälften und großzügigen Einfamilienhäusern tätig.
            </p>
            <h3>Unsere Stärken</h3>
            <p>
                Energieeffizientes Bauen: Wir legen Wert auf Nachhaltigkeit. 
                Deshalb setzen wir auf modernste Technologien und Baustoffe, 
                um Häuser zu schaffen, die nicht nur ästhetisch ansprechend sind, 
                sondern auch höchsten Energiestandards entsprechen. Vielfältige 
                Wohnlösungen: Unsere Projekte umfassen großzügige Einfamilienhäuser 
                und Doppelhaushälften, um den individuellen Bedürfnissen unserer 
                Kunden gerecht zu werden.
            </p>
        </div>
    </section>
    <section class="projects">
    </section>
    <section class="advanteges">
    </section>
    <section class="news">
    </section>
    <section class="contacts">
    </section>
    <section class="form">
    </section>
</section>

{% endblock homepage %}
