{% extends "base.html" %}

{% block impressum %}
<section class="impressum">
    <div class="section-content-container">
        <h2>IMPRESSUM</h2>

        <h3>ErsteHaus GmbH</h3>

        <p>Baraschstrasse 17, 14193 Berlin</p>
        <p><strong>Telefon:</strong> (+49) 17622286414</p>
        <p><strong>E-mail:</strong> info@erstehaus.de</p>
        <p><strong>Internet:</strong> <a href="erstehaus.de">www.erstehaus.de</a></p>
        <p><strong>Eingetragen im Handelsregister:</strong> Amtsgericht Charlottenburg (Berlin), HRB 189223 B</p>
        <p><strong>Geschäftsführer:</strong> Alexander Adamov</p>

        <h3>Urheber- und Schutzrechte</h3>

        <p>Die Inhalte unserer Webseiten, einschließlich der Texte, Bilder, graphischen
            Darstellungen, Audio- und Videodateien sind – soweit dies nicht ausdrücklich
            anders vermerkt ist – unser Eigentum und dürfen ohne unsere vorherige schriftliche
            Zustimmung nicht für öffentliche oder gewerbliche Zwecke vervielfältigt, verändert,
            übertragen, wiederverwertet, neu bereitgestellt, verwertet oder auf sonstige Weise
            benutzt werden. Wir weisen darauf hin, dass eine Verletzung unserer Urheber-
            oder sonstigen Schutzrechte zivil- und/oder strafrechtliche Konsequenzen nach
            sich ziehen kann.</p>

        <h3>Rechtshinweise</h3>

        <p>Alle Angaben unseres Internetangebotes wurden sorgfältig geprüft. Wir bemühen uns,
            dieses Informationsangebot stetig zu erweitern und zu aktualisieren. Eine Garantie
            für die Vollständigkeit, Richtigkeit und letzte Aktualität kann jedoch nicht
            übernommen werden.</p>

        <p>Wir haben auch keinen Einfluss darauf, ob Dritte von ihrer Webseite zu unserer
            Webseite Links einrichten. Die Existenz solcher Links ist kein Hinweis auf eine
            Zusammenarbeit mit diesen Unternehmen oder eine Empfehlung Ihres Angebotes.</p>

        <p>Haftungsansprüche, die durch die Nutzung unseres Internetangebotes verursacht
            werden, sind ausgeschlossen, sofern wir nicht vorsätzlich oder grob fahrlässig
            gehandelt haben.Des weiteren behält sich die Kristall Bäder AG das Recht vor,
            Änderungen oder Ergänzungen der bereitgestellten Informationen vorzunehmen.</p>

        <p>Inhalt und Struktur der Webseiten sind urheberrechtlich geschützt. Gegen eine
            Benutzung der auf unseren Webseiten enthaltenen Informationen zum persönlichen
            Gebrauch gibt es keine Einwendungen. Die Vervielfältigung von Informationen
            oder Daten, Impressum und Datenschutz auf http://info@kristall-therme-ludwigsfelde.de,
            ff. insbesondere die gewerbliche Verwendung von Texten, Textteilen oder
            Bildmaterial bedarf jedoch der vorherigen Zustimmung der Kristall Bäder AG.</p>

        <h3>Online-Streitbeilegung</h3>

        <p>Die Europäische Kommission stellt eine Plattform für die außergerichtliche
            Online-Streitbeilegung (OS-Plattform) bereit, die unter
            <a href="https://ec.europa.eu/consumers/odr"><strong>www.ec.europa.eu/consumers/odr</strong></a> aufrufbar ist. Wir sind weder verpflichtet
            noch bereit, an dem Streitschlichtungsverfahren teilzunehmen. Wir sind auch zur
            Teilnahme an einem Streitbeilegungsverfahren vor einer
            Verbraucherschlichtungsstelle weder verpflichtet noch bereit.</p>
    </div>
</section>
{% endblock impressum %}
